<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">offres</h1>
</div>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Tout les offres</h6>
    </div>
    <div class="card-body">
        <div class="offer-container">
            <div *ngFor="let item1 of listoffer" class="offer-item">
                <div class="offer-card">
                    <div class="offer-info">
                        <p><strong>City:</strong> {{ item1.city }}</p>
                        <p><strong>Date:</strong> {{ item1.date }}</p>
                        <p><strong>Email:</strong> {{ item1.email }}</p>
                        <p><strong>Fullname:</strong> {{ item1.fullname }}</p>
                        <p><strong>Job:</strong> {{ item1.job }}</p>
                        <p><strong>Phone:</strong> {{ item1.phone }}</p>

                    <div class="offer-actions">
                        <button mat-mini-fab color="warn" (click)="openDialog(item1.$key)">
                            <mat-icon>delete</mat-icon>
                        </button>
                        <button mat-mini-fab color="green" (click)="edit(item1.$key)">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-mini-fab color="accent" (click)="openChat(item1.email)">
                            <mat-icon>chat</mat-icon>
                        </button>
                    </div>
               
            </div>
        </div>
    </div>
</div>
