<section class="home">
    <div class="image">
    <img src="assets/image/Monitoring the creatives data performing.gif">
    </div>
    <div class="homecontent">
    <h1>Welcome to </h1>
    &nbsp;&nbsp;&nbsp; <h1> WorkHub</h1>
    </div>
    <div class="homeecontent">
        <a routerLink="/add-agent" class="btn btn-lg btn-light">Postuler</a> &nbsp;
    </div>
    <div class="hoocontent">
    <a routerLink="/add-offer" class="btn btn-lg btn-primary">Recruter</a>

    </div>
    
    </section>

   